<div class="footer">
	<div class="inner_footer">
		<div class="logo_container">
			<img src="/images/logo/vector/default-monochrome-white.svg" class="img-df">
			<h3><a class="linkme" href="/about/film-data">Film Data</a> from <a class="linkme" target="_blank" rel="noopener noreferrer" href="https://www.themoviedb.org/">TMDb</a></h3>
		</div>
		<div class="footer_third">
			<h1>Contact Us</h1>
			<a style="margin-bottom: 2px;" target="_blank" rel="noopener noreferrer" href="https://twitter.com/doublefeature_"><img src="/images/twitter-32.png"></a>
			Email: support@doublefeature.watch
		</div>
		<div class="footer_third">
			<h1>About Us</h1>
			<a class="linkme" href="/about/me">Me</a>
			<a class="linkme" target="_blank" rel="noopener noreferrer" href="https://paypal.me/mynameisarsy">Donate</a>
		</div>
	</div>
</div>
