<div id="div-delaccoverlay">
	<div class="overlay">
		<form class="form-doublefeature" method="POST">
			<div>
				<button type="button" name="cross" class="cross" onclick="document.getElementById('div-delaccoverlay').style.display = 'none'"><i class="fa-solid fa-xmark fa-2x"></i>
				</button>
			</div>
			<h2 class="overlay-title">Are you sure you want to delete your account?</h2>
			<h4 class="overlay-title">All of your data will be deleted. This cannot be undone.</h4>
			<div>
				<button class="btn add-btn" type="submit">Delete</button>
			</div>
			<input type="hidden" name="formInstance" value="delaccform" />
		</form>
	</div>
</div>
