<div id="div-swapoverlay">
	<div class="overlay">
		<form class="form-doublefeature" method="POST">
			<div>
				<button type="button" name="cross" class="cross" onclick="document.getElementById('div-swapoverlay').style.display = 'none'"><i class="fa-solid fa-xmark fa-2x"></i>
				</button>
			</div>
			<h2 class="overlay-title">Are you sure you want to swap the movies' order?</h2>
			<div>
				<button class="btn add-btn" type="submit">Swap</button>
			</div>
			<input type="hidden" id="hiddenIdSwap" name="hiddenIdSwap" value="">
			<input type="hidden" id="hiddenMovieOneIdSwap" name="hiddenMovieOneIdSwap" value="">
			<input type="hidden" id="hiddenMovieOneTitleSwap" name="hiddenMovieOneTitleSwap" value="">
			<input type="hidden" id="hiddenMovieOnePosterSwap" name="hiddenMovieOnePosterSwap" value="">
			<input type="hidden" id="hiddenMovieTwoIdSwap" name="hiddenMovieTwoIdSwap" value="">
			<input type="hidden" id="hiddenMovieTwoTitleSwap" name="hiddenMovieTwoTitleSwap" value="">
			<input type="hidden" id="hiddenMovieTwoPosterSwap" name="hiddenMovieTwoPosterSwap" value="">
			<input type="hidden" name="formInstance" value="swapform" />
		</form>
	</div>
</div>
