<title>Email Verification - Double Feature</title>

<div class="user">
	<header class="user__header">
		<a href="/">
			<img src="/images/logo/vector/default-monochrome.svg" alt="" />
		</a>
	</header>
	<%- include('partials/messages') %>
	<form method="POST">
		<button class="conf" type="submit">Resend Email Verification</button>
	</form>
</div>
