<title>Film Data - Double Feature</title>

<h1>Film Data</h1>
<p>All film-related metadata used on Double Feature, including actor, director,<br> synopses, release dates, and poster art is supplied by The Movie Database (TMDb).</p>
<a target="_blank" rel="noopener noreferrer" href="https://www.themoviedb.org/"><img src="/images/tmdb.svg" class="img-tmdb"></a>
<p>Double Feature uses the TMDb API but is not endorsed or certified by TMDb.</p>
