<title>About me - Double Feature</title>

<h1>What is Double Feature?</h1>
<p>Double Feature is a place for people to discuss double features. Use it<br>to create, log, like, rate double features that others have made and<br>share your own.</p>
<h1>What is a Double Feature?</h1>
<p>The double feature was a motion picture industry phenomenon in which<br>theatres would exhibit two films for the price of one. The double feature<br>arose partly because of a studio practice known as "block booking," a <br>form of tying in which major Hollywood studios required theaters to buy<br>B-movies along with the more desirable A-movies. Unfortunately, by the 1950s,<br>for numerous reasons, double features were on the decline and are very<br>rarely shown in theatres today. You can learn more about them on <a class="linkme" style="text-decoration: underline;" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Double_feature">Wikipedia.</a>
<h1>Who am I?</h1>
<p>I'm someone who loves films and used to keep track of double features<br>on paper. When my list got too long I decided to make a website not just<br>for myself but anyone else who enjoys pairing films together. <a class="linkme" style="text-decoration: underline;" target="_blank" rel="noopener noreferrer" href="https://twitter.com/mynameisarsy">My Twitter.</a></p>
