/* Navbar styling */
#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

/* Navbar logo size */
.logo-image {
	width: 150px;
}

/* Navbar links dimensions */
li a {
	float: left; /* default value, overriden with internal CSS */
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
}
