<section class="bg-blue h-screen">
  <div class="container flex flex-col items-center px-4 py-12 mx-auto text-center">
    <h2 class="text-2xl font-bold tracking-tight text-white xl:text-3xl mt-20">
      What is Double Feature?
    </h2>

    <p class="block max-w-5xl text-xl mt-4 text-white">
      Double Feature is a place for people to discuss double features. Use it to create, log, like, and rate double features that others have made and share your own.
    </p>

    <h2 class="text-2xl font-bold tracking-tight text-white xl:text-3xl mt-20">
      What is a Double Feature?
    </h2>

    <p class="block max-w-5xl text-xl mt-4 text-white">
      The double feature was a motion picture industry phenomenon in which theatres would exhibit two films for the price of one. The double feature arose partly because of a studio practice known as "block booking," a form of tying in which major Hollywood studios required theaters to buy B-movies along with the more desirable A-movies. Unfortunately, by the 1950s, for numerous reasons, double features were on the decline and are very rarely shown in theatres today. You can learn more about them on <a class="underline" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Double_feature">Wikipedia.</a>
    </p>

    <h2 class="text-2xl font-bold tracking-tight text-white xl:text-3xl mt-20">
      Who am I?
    </h2>

    <p class="block max-w-5xl text-xl mt-4 text-white">
      I'm someone who loves films and used to keep track of double features on paper. When my list got too long I decided to make a website not just for myself but anyone else who enjoys pairing films together. <a class="underline" target="_blank" rel="noopener noreferrer" href="https://twitter.com/mynameisarsy">My Twitter.</a>
    </p>
  </div>
</section>
